body {
  font-family: 'Roboto', sans-serif;
}

main {
  min-width: 300px;
  max-width: 400px;
  padding: 0px 20px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 0;
}

#intro {
  margin-bottom: 8px;
}

#intro, #intro a {
  color: rgb(134, 134, 175);
}

#options {
  margin-bottom: 8px;
}

#options_container {
  display: none;
}

#options_toggle {
  text-decoration: none;
  color: rgb(39, 162, 219);
}

#options_toggle:hover {
  text-decoration: underline;
}

.options_label {
  width: 100px;
  margin-right: 10px;
  display: inline-block;
  text-align: right;
}

.row {
  margin-bottom: 1px;
  text-align: center;
}

.letterbtn {
  width: 45px;
  height: 43px;
  padding-top: 2px;
  display: inline-block;
  background-color: grey;
  margin-right: 1px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

#howitworks {
  display: none;
}

#guess {
  width: 120px;
}

#guess_form_container {
  margin-bottom: 20px;
}

#guess_form_giveup {
  display: inline-block;
  margin-left: 5px;
}

#warning {
  color: red;
}

#victory_container {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#victory {
  color: green;
}

#share_container {
  font-weight: 700;
}

#share_note {
  display: none;
}

#victory_container {
  display: none;
}

#wordlist {
  min-height: 200px;
  overflow: scroll;
}

#keyboard_container {
  margin-top: 10px;
}

#keyboard {
  width: 270px;
  text-align: center;
  border: 1px solid #eee;
  margin: 0 auto;
}

#timer h3 {
  margin: 0px;
}

#keyboard .key {
  display: inline-block;
  padding: 4px;
  width: 18px;
  font-size: 14px;
}

#keyboard .key.selected {
  background-color: gray;
  color: white;
}

#keyboard .key.selected.contained.correct, #keyboard .key.selected.correct, .letterbtn.correct {
  background-color: green;
}

#keyboard .key.selected.contained, .letterbtn.contained {
  background-color: goldenrod;
}

main.colorblind #keyboard .key.selected.contained.correct, main.colorblind #keyboard .key.selected.correct, main.colorblind .letterbtn.correct {
  background-color: #f5793a;
}

main.colorblind #keyboard .key.selected.contained, main.colorblind .letterbtn.contained {
  background-color: #85c0f9;
}

#timer {
  display: none;
}

.timer_active #timer {
  display: block;
}

.timer_active #keyboard {
  width: 220px;
  margin-right: 20px;
  margin-left: 0px;
  float: left;
}

.timer_active #keyboard .key {
  padding: 2px;
  width: 18px;
  font-size: 12px;
}

#author {
  margin-top: 30px;
  border-top: 1px solid #eee;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  #wordlist {
    height: 200px;
    overflow: scroll;
  }

  .letterbtn {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: grey;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
}
